##  Exercise Session 6: Decision Trees, Random Forests

**Total points (10 + 1 Bonus Point)**

Suppose you are a data scientist working for a bank. Your bank wants to identify which of its customers are likely to default on their loans. You have been given a dataset of customer information (under Exercises/Session_06 folder on OLAT), including their credit score, income, etc. Your task is to build a decision tree and random forest model that can predict which customers are likely to default on their loans.


The deadline to submit your solutions to this exercise is **the Tuesday in 2 weeks (09.04.2024) by the end of the day (23:59 CET)**. 

Please submit your solutions in python notebook format and rename the file as "**Exercise_06_FirstName_LastName.ipynb**"

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.ensemble import RandomForestClassifier
#from sklearn.metrics import plot_confusion_matrix, 
from sklearn.metrics import ConfusionMatrixDisplay, classification_report
from matplotlib.pylab import rcParams

## Decision Trees and Random Forests

In [3]:
#Load the dataset into a pandas DataFrame.
df = pd.read_csv('/Users/merterol/uzh/Computational Science/Sem 2/ESC403/Exercise 5/data/Loan_Default.csv')
df.head()

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
0,24890,2019,cf,Sex Not Available,nopre,type1,p1,l1,nopc,nob/c,...,EXP,758,CIB,25-34,to_inst,98.728814,south,direct,1,45.0
1,24891,2019,cf,Male,nopre,type2,p1,l1,nopc,b/c,...,EQUI,552,EXP,55-64,to_inst,NaN,North,direct,1,NaN
2,24892,2019,cf,Male,pre,type1,p1,l1,nopc,nob/c,...,EXP,834,CIB,35-44,to_inst,80.019685,south,direct,0,46.0
3,24893,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,EXP,587,CIB,45-54,not_inst,69.376900,North,direct,0,42.0
4,24894,2019,cf,Joint,pre,type1,p1,l1,nopc,nob/c,...,CRIF,602,EXP,25-34,not_inst,91.886544,North,direct,0,39.0

**Task 1 (1 point): delete the categorical columns and columns named ID and year**

In [56]:
# delete the categorical columns

In [6]:
# detele the columns named ID and year
df = df.drop("ID", axis = 1)
df = df.drop("year", axis = 1)
df.head()

,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,loan_amount,rate_of_interest,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
0,cf,Sex Not Available,nopre,type1,p1,l1,nopc,nob/c,116500,NaN,...,EXP,758,CIB,25-34,to_inst,98.728814,south,direct,1,45.0
1,cf,Male,nopre,type2,p1,l1,nopc,b/c,206500,NaN,...,EQUI,552,EXP,55-64,to_inst,NaN,North,direct,1,NaN
2,cf,Male,pre,type1,p1,l1,nopc,nob/c,406500,4.56,...,EXP,834,CIB,35-44,to_inst,80.019685,south,direct,0,46.0
3,cf,Male,nopre,type1,p4,l1,nopc,nob/c,456500,4.25,...,EXP,587,CIB,45-54,not_inst,69.376900,North,direct,0,42.0
4,cf,Joint,pre,type1,p1,l1,nopc,nob/c,696500,4.00,...,CRIF,602,EXP,25-34,not_inst,91.886544,North,direct,0,39.0

**Task 2 (1 point): select Status column as output (y) and other columns as an input (X)**

**Task 3 (1 point): plot barplot of the status column**

**Task 4 (1 point): split the dataset to train and test sets, set the test set size to 20%**

**Task 5 (1 point): check if there is nan values in X_train and  X_test**

**Task 6 (1 point): replace NANs with 0s both in X_train, X_test**

**Task 7 (1 point): train Decision Tree and test the decision tree on test set. Plot confusion matrix and print classification report**

**Task 8 (1 point): plot the importance of each feature as a bar plot and plot the decision tree**

**Task 9 (1 point): train the same data with random forest and test on test set. Plot confusion matrix and print classification report**

**Task 10 (1 point) : Plot the feature importance as a bar plot**

**Task 11 (bonus point):Which model worked the best? Justify it.**